p {
  font-family: monospace;
  /*line-height: 18px;*/
  font-size: 24px;
  line-height: .75em;
  background-color: lightblue;
  color: green;
  white-space: pre;
  margin: 0px;
}

.container {
  width: 36em;
  border: 2px solid black;
}
