* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  font-family: 'Roboto Mono', Monaco, monospace;
  margin: 10px;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  font-size: 18px;
  color: darkgrey;
}

h2 {
  font-size: 18px;
  margin-top: 15px;
  color: white;
}

div p {
  font-size: 40px;
  width: 268px;
  line-height: .7em;
  background-color: #2e4776;
  letter-spacing: 3px;
  white-space: pre;
  margin: 0px;
  padding-top: 3px;
  padding-bottom: 2px;
}

#gameId1, #gameId2, #gameId3, #gameId4 {
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  border: 2px solid black;
}

#gameId1 {
  color: white;
}

#gameId2 {
  color: red;
}

#gameId3 {
  color: green;
}

#gameId4 {
  color: lightblue;
}

#status {
  float: left;
  padding: 10px 10px;
  background-color: #2e4776;
  margin-right: 10px;
  border: 2px solid black;
  color: white;
}

#next {
  height: 45px;
  width: 90px;
  padding: 30px 10px;
  background-color: #3d5786;
  border: 2px solid black;
}

#next p {
  font-size: 26px;
  width: 75px;
  background-color: inherit;
}

#stats {
  padding: 0px 0px 15px 0px;
  margin-top: 10px;
  background-color: #3d5786;
  border: 2px solid black;
}
